<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="Library/jquery.mobile-1.4.0/jquery.mobile-1.4.0.css">
<link rel="stylesheet" href="styles/jqmapp.css">
<script data-main="scripts/config/angularconf" src="Library/requirejs/require.js"></script>
<title></title>
</head>
<body>

<!-- Begin Templates -->
<script type="text/ng-template" id="templates/book/all.html">

<ul class="book_list" data-role="listview" data-insert="true">
  <li ng-repeat="book in books"><a ng-href="#/book/content/{{book.id}}"> <img ng-src="{{parseImage(book.image_ids)}}" />
      <h3>{{book.name}}</h3>
      <p>
        <b>作者: {{book.author}}</b>
      </p>
      <p>{{book.intro}}</p>
  </a></li>
  <li data-icon="false"><a id="more" style="text-align: center;" ng-click="click()">显示更多...</a></li>
</ul>

</script>

<script type="text/ng-template" id="templates/book/chapter.html">

<h3 style="text-align: center;">{{chapter.title}}</h3>
<pre class="text">{{chapter.content}}</pre>
<a data-role="button" ng-click="nextChapter()">下一回</a>

</script>

<script type="text/ng-template" id="templates/book/content.html">

<ul data-role="listview">
  <li data-role="list-divider" style="text-align: center;">简介</li>
  <li><div data-role="fieldcontain">
      <img ng-src="{{parseImage(book.image_ids)}}"
        style="width: 84px; height: 100px; float: left; margin: 0.4em; padding: 0.3em;"><b
        style="color: red; margin: 0.5em; padding: 0.3em;">《{{book.name}}》</b><br> <span
        style="margin: 0.6em; padding: 0.3em;">作者: <i>{{book.author}}</i></span><br>
      <p style="margin: 0.4em; padding: 0.3em;">{{book.intro}}</p>
    </div> <!-- 
    <div>
      <select data-role="flipswitch" ng-model="selectedItem" ng-change="change()">
        <option value="0">取消</option>
        <option value="1">订阅</option>
      </select>
    </div>
     --></li>
  <li><div>
      <a data-role="button" ng-click="download()">下载</a>
    </div></li>
  <li data-role="list-divider" style="text-align: center">目录</li>
  <li ng-repeat="chapter in chapters"><a ng-href="#/book/{{book.id}}/chapter/{{chapter.id}}">{{chapter.title}}</a></li>
</ul>

</script>

<script type="text/ng-template" id="templates/book/main.html">
        <ul data-role="listview">
          <li><a href="#/book/local">本地图书</a></li>
          <li><a href="#/book/all">所有书籍</a></li>
          <li><a href="#/book/recent">最近阅读</a></li>
        </ul>

</script>

<script type="text/ng-template" id="templates/category/book/chapter.html">

<h3 style="text-align: center;">{{chapter.title}}</h3>
<pre class="text">{{chapter.content}}</pre>
<a data-role="button" ng-click="nextChapter()">下一回</a>

</script>

<script type="text/ng-template" id="templates/category/book/content.html">

<ul data-role="listview">
  <li data-role="list-divider" style="text-align: center;">简介</li>
  <li><div data-role="fieldcontain">
      <img ng-src="{{parseImage(book.image_ids)}}"
        style="width: 84px; height: 100px; float: left; margin: 0.4em; padding: 0.3em;"><b
        style="color: red; margin: 0.5em; padding: 0.3em;">《{{book.name}}》</b><br> <span
        style="margin: 0.6em; padding: 0.3em;">作者: <i>{{book.author}}</i></span><br>
      <p style="margin: 0.4em; padding: 0.3em;">{{book.intro}}</p>
    </div> <!-- 
    <div>
      <select data-role="flipswitch" ng-model="selectedItem" ng-change="change()">
        <option value="0">取消</option>
        <option value="1">订阅</option>
      </select>
    </div>
     --></li>
  <li><div>
      <a data-role="button" ng-click="download()">下载</a>
    </div></li>
  <li data-role="list-divider" style="text-align: center">目录</li>
  <li ng-repeat="chapter in chapters"><a ng-href="#/category/{{category.id}}/book/{{book.id}}/chapter/{{chapter.id}}">{{chapter.title}}</a></li>
</ul>

</script>

<script type="text/ng-template" id="templates/category/book/list.html">

<ul data-role="listview" data-insert="true">
  <li ng-repeat="book in books"><a ng-href="#/category/{{category.id}}/book/{{book.id}}/content"> <img ng-src="{{parseImage(book.image_ids)}}" />
      <h3>{{book.name}}</h3>
      <p>
        <b>作者: {{book.author}}</b>
      </p>
      <p>{{book.intro}}</p>
  </a></li>
  <li data-icon="false"><a id="more" style="text-align: center;" ng-click="click()">显示更多...</a></li>
</ul>

</script>

<script type="text/ng-template" id="templates/category/main.html">
<ul data-insert="true" data-role="listview">
  <li ng-repeat="category in categories"><a data-cid="{{category.cid}}" data-pid="{{category.pid}}"
    data-id="{{category.id}}" href="#/category/{{category.id}}">{{category.name}}</a></li>
</ul>

</script>

<script type="text/ng-template" id="templates/other/about.html">
      <div class="about">
        <img src="images/logo.jpg">
        <h2>版本：V1.0</h2>
        <p>天易书城: <a href="http://book.t1bao.com" target="_blank">http://book.t1bao.com</a></p>
        <p>客服邮箱: <a href="mailto:service@t1bao.com">service@t1bao.com</a></p>
        <p>商务合作: <a href="mailto:business@t1bao.com">business@t1bao.com</a></p>
        <p>Copyright©2013</p>
        <p>天易移动</p>
      </div>
</script>

<script type="text/ng-template" id="templates/other/feedback.html">
      <textarea placeholder="您的意见很重要！" style="height: 5em;" ng-keyup="changed()"></textarea>
      <p style="text-align: right;">还可以输入<b class="num">140</b>字
      </p>
      <div>
        <a data-role="button" ng-click="feedback()">确 认</a>
      </div>
    </div>


</script>

<script type="text/ng-template" id="templates/other/main.html">

<ul data-role="listview">
  <li><a href="#/about">关于天易书城</a></li>
  <li><a href="#/feedback">意见反馈</a></li>
</ul>

</script>

<script type="text/ng-template" id="templates/user/home.html">
      <h3>
        尊敬的用户「<span style="color: red">{{user.username}}</span>」，欢迎您！
      </h3>
      <ul data-role="listview">
        <li><a href="#/user/profile">我的信息</a></li>
        <li><a href="#/user/password/update">修改密码</a></li>
        <!-- 
        <li><a href="#/user/book">我的书籍</a></li>
         -->
      </ul>
      <br> <a data-role="button" ng-click="logout()">退 出</a>


</script>

<script type="text/ng-template" id="templates/user/login.html">
  <form method="post" ng-submit="login()">
    <div data-role="fieldcontain">
      <label for="username">用户名:</label> <input type="text" placeholder="请输入注册用户名或者邮箱" id="username" name="username">
    </div>
    <div data-role="fieldcontain">
      <label for="password">密码：</label> <input type="password" placeholder="请输入密码" id="password" name="password">
    </div>
    <a data-role="button" ng-click="login()">登 录</a> <a data-role="button" href="#/user/password/retrieve">忘记密码?</a> <a data-role="button"
      href="#/user/register">注 册</a>
  </form>

</script>

<script type="text/ng-template" id="templates/user/password/retrieve.html">
      <form method="post">
        <div data-role="fieldcontain">
          <label for="email">注册邮箱：</label> <input name="email" type="text" id="email" placeholder="请输入您的注册邮箱">
        </div>
        <div>
          <a data-role="button" ng-click="retrieve()">发送</a>
        </div>
      </form>


</script>

<script type="text/ng-template" id="templates/user/password/update.html">

      <form method="post" ng-submit="passwordUpdate()">
        <div data-role="fieldcontain">
          <label for="old_pass">旧密码：</label>
          
            <input name="old_pass" id="old_pass" type="password" placeholder="请输入您的旧密码">

        </div>
        <div data-role="fieldcontain">
          <label for="new_pass">新密码：</label>
          
            <input name="new_pass" id="new_pass" type="password" placeholder="由6-20位字母、数字或符号组成">

        </div>
        <div data-role="fieldcontain">
          <label for="new_pass2">确认密码：</label>
          
            <input name="new_pass2" id="new_pass2" type="password" placeholder="由6-20位字母、数字或符号组成">

        </div>
          <a data-role="button" ng-click="passwordUpdate()">确 定</a>
      </form>
</script>

<script type="text/ng-template" id="templates/user/profile.html">
      <form method="post">
        <div data-role="fieldcontain">
          <label for="username">用户名：</label> <input name="username" id="username" type="text"
            placeholder="由6-20位字母、数字或符号组成" value="{{user.username}}">
        </div>
        <div data-role="fieldcontain">
          <label for="mobile">手机号：</label> <input name="mobile" id="mobile" type="text" maxlength="11" value="{{user.mobile}}">
        </div>
        <div data-role="fieldcontain">
          <fieldset data-role="controlgroup">
            <legend>邮箱：</legend>
            <div class="ui-controlgroup-controls ">
              <input name="email" id="email" type="email" data-inline="true" value="{{user.email}}"
                class="ui-input-text-mid"> 
                
                <a data-role="button" ng-click="verification()" class="verification">验证</a>
            </div>
          </fieldset>
        </div>
        <div data-role="fieldcontain">
          <fieldset data-role="controlgroup" data-type="horizontal">
            <legend>性别：</legend>
            <label for="male">男</label><input name="gender" id="male" type="radio" value="male" ng-checked="{{user.gender == 'male'}}"> <label
              for="female">女</label><input name="gender" id="female" type="radio" value="female" ng-checked="{{user.gender == 'female'}}"> <label
              for="hidden">保密</label><input name="gender" id="hidden" type="radio" value="hidden" ng-checked="{{user.gender == 'hidden'}}">
          </fieldset>
        </div>
        <div>
          <a data-role="button" ng-click="updateProfile()">确 定</a>
        </div>
      </form>
</script>

<script type="text/ng-template" id="templates/user/register.html">
      <form method="post">
        <div data-role="fieldcontain">
          <label for="username">用户名：</label> <input name="username" id="username" maxlength="20" type="text"
            placeholder="由4-20位中英文、数字组成">
        </div>
        <div data-role="fieldcontain">
          <label for="password">密码:</label> <input name="password" id="password" maxlength="20" type="password"
            placeholder="由6-20位字母、数字或符号组成">
        </div>
        <div data-role="fieldcontain">
          <label for="password2">确认密码:</label> <input name="password2" id="password2" maxlength="20" type="password"
            placeholder="请再次输入密码">
        </div>
        <div data-role="fieldcontain">
          <label for="email">邮箱:</label> <input name="email" id="email" maxlength="20" type="text"
            placeholder="请输入常用邮箱，用来找回密码">
        </div>
        <div data-role="fieldcontain">
          <label for="verific_code">验证码：</label> <input name="captcha" type="text" placeholder="请输入验证码"
            id="verific_code">
        </div>
        <div data-role="fieldcontain">
          <label for="verific_code"></label><img id="verific_code_image"
            src="{{captcha}}" alt="验证码" ng-click="refresh()"><span
            style="cursor: pointer; color: red; padding: 0px 0.4em;" ng-click="refresh()">点击图片刷新</span>
        </div>
        <div data-role="fieldcontain">
          <label for=""></label>
        </div>
          <a data-role="button" ng-click="register()">注册</a>
      </form>


</script>
<!-- End Templates -->



<!-- Begin Templates -->
<script type="text/ng-template" id="templates/book/all.html">

<ul class="book_list" data-role="listview" data-insert="true">
  <li ng-repeat="book in books"><a ng-href="#/book/content/{{book.id}}"> <img ng-src="{{parseImage(book.image_ids)}}" />
      <h3>{{book.name}}</h3>
      <p>
        <b>作者: {{book.author}}</b>
      </p>
      <p>{{book.intro}}</p>
  </a></li>
  <li data-icon="false"><a id="more" style="text-align: center;" ng-click="click()">显示更多...</a></li>
</ul>

</script>

<script type="text/ng-template" id="templates/book/chapter.html">

<h3 style="text-align: center;">{{chapter.title}}</h3>
<pre class="text">{{chapter.content}}</pre>
<a data-role="button" ng-click="nextChapter()">下一回</a>

</script>

<script type="text/ng-template" id="templates/book/content.html">

<ul data-role="listview">
  <li data-role="list-divider" style="text-align: center;">简介</li>
  <li><div data-role="fieldcontain">
      <img ng-src="{{parseImage(book.image_ids)}}"
        style="width: 84px; height: 100px; float: left; margin: 0.4em; padding: 0.3em;"><b
        style="color: red; margin: 0.5em; padding: 0.3em;">《{{book.name}}》</b><br> <span
        style="margin: 0.6em; padding: 0.3em;">作者: <i>{{book.author}}</i></span><br>
      <p style="margin: 0.4em; padding: 0.3em;">{{book.intro}}</p>
    </div> <!-- 
    <div>
      <select data-role="flipswitch" ng-model="selectedItem" ng-change="change()">
        <option value="0">取消</option>
        <option value="1">订阅</option>
      </select>
    </div>
     --></li>
  <li><div>
      <a data-role="button" ng-click="download()">下载</a>
    </div></li>
  <li data-role="list-divider" style="text-align: center">目录</li>
  <li ng-repeat="chapter in chapters"><a ng-href="#/book/{{book.id}}/chapter/{{chapter.id}}">{{chapter.title}}</a></li>
</ul>

</script>

<script type="text/ng-template" id="templates/book/main.html">
        <ul data-role="listview">
          <li><a href="#/book/local">本地图书</a></li>
          <li><a href="#/book/all">所有书籍</a></li>
          <li><a href="#/book/recent">最近阅读</a></li>
        </ul>

</script>

<script type="text/ng-template" id="templates/category/book/chapter.html">

<h3 style="text-align: center;">{{chapter.title}}</h3>
<pre class="text">{{chapter.content}}</pre>
<a data-role="button" ng-click="nextChapter()">下一回</a>

</script>

<script type="text/ng-template" id="templates/category/book/content.html">

<ul data-role="listview">
  <li data-role="list-divider" style="text-align: center;">简介</li>
  <li><div data-role="fieldcontain">
      <img ng-src="{{parseImage(book.image_ids)}}"
        style="width: 84px; height: 100px; float: left; margin: 0.4em; padding: 0.3em;"><b
        style="color: red; margin: 0.5em; padding: 0.3em;">《{{book.name}}》</b><br> <span
        style="margin: 0.6em; padding: 0.3em;">作者: <i>{{book.author}}</i></span><br>
      <p style="margin: 0.4em; padding: 0.3em;">{{book.intro}}</p>
    </div> <!-- 
    <div>
      <select data-role="flipswitch" ng-model="selectedItem" ng-change="change()">
        <option value="0">取消</option>
        <option value="1">订阅</option>
      </select>
    </div>
     --></li>
  <li><div>
      <a data-role="button" ng-click="download()">下载</a>
    </div></li>
  <li data-role="list-divider" style="text-align: center">目录</li>
  <li ng-repeat="chapter in chapters"><a ng-href="#/category/{{category.id}}/book/{{book.id}}/chapter/{{chapter.id}}">{{chapter.title}}</a></li>
</ul>

</script>

<script type="text/ng-template" id="templates/category/book/list.html">

<ul data-role="listview" data-insert="true">
  <li ng-repeat="book in books"><a ng-href="#/category/{{category.id}}/book/{{book.id}}/content"> <img ng-src="{{parseImage(book.image_ids)}}" />
      <h3>{{book.name}}</h3>
      <p>
        <b>作者: {{book.author}}</b>
      </p>
      <p>{{book.intro}}</p>
  </a></li>
  <li data-icon="false"><a id="more" style="text-align: center;" ng-click="click()">显示更多...</a></li>
</ul>

</script>

<script type="text/ng-template" id="templates/category/main.html">
<ul data-insert="true" data-role="listview">
  <li ng-repeat="category in categories"><a data-cid="{{category.cid}}" data-pid="{{category.pid}}"
    data-id="{{category.id}}" href="#/category/{{category.id}}">{{category.name}}</a></li>
</ul>

</script>

<script type="text/ng-template" id="templates/other/about.html">
      <div class="about">
        <img src="images/logo.jpg">
        <h2>版本：V1.0</h2>
        <p>天易书城: <a href="http://book.t1bao.com" target="_blank">http://book.t1bao.com</a></p>
        <p>客服邮箱: <a href="mailto:service@t1bao.com">service@t1bao.com</a></p>
        <p>商务合作: <a href="mailto:business@t1bao.com">business@t1bao.com</a></p>
        <p>Copyright©2013</p>
        <p>天易移动</p>
      </div>
</script>

<script type="text/ng-template" id="templates/other/feedback.html">
      <textarea placeholder="您的意见很重要！" style="height: 5em;" ng-keyup="changed()"></textarea>
      <p style="text-align: right;">还可以输入<b class="num">140</b>字
      </p>
      <div>
        <a data-role="button" ng-click="feedback()">确 认</a>
      </div>
    </div>


</script>

<script type="text/ng-template" id="templates/other/main.html">

<ul data-role="listview">
  <li><a href="#/about">关于天易书城</a></li>
  <li><a href="#/feedback">意见反馈</a></li>
</ul>

</script>

<script type="text/ng-template" id="templates/user/home.html">
      <h3>
        尊敬的用户「<span style="color: red">{{user.username}}</span>」，欢迎您！
      </h3>
      <ul data-role="listview">
        <li><a href="#/user/profile">我的信息</a></li>
        <li><a href="#/user/password/update">修改密码</a></li>
        <!-- 
        <li><a href="#/user/book">我的书籍</a></li>
         -->
      </ul>
      <br> <a data-role="button" ng-click="logout()">退 出</a>


</script>

<script type="text/ng-template" id="templates/user/login.html">
  <form method="post" ng-submit="login()">
    <div data-role="fieldcontain">
      <label for="username">用户名:</label> <input type="text" placeholder="请输入注册用户名或者邮箱" id="username" name="username">
    </div>
    <div data-role="fieldcontain">
      <label for="password">密码：</label> <input type="password" placeholder="请输入密码" id="password" name="password">
    </div>
    <a data-role="button" ng-click="login()">登 录</a> <a data-role="button" href="#/user/password/retrieve">忘记密码?</a> <a data-role="button"
      href="#/user/register">注 册</a>
  </form>

</script>

<script type="text/ng-template" id="templates/user/password/retrieve.html">
      <form method="post">
        <div data-role="fieldcontain">
          <label for="email">注册邮箱：</label> <input name="email" type="text" id="email" placeholder="请输入您的注册邮箱">
        </div>
        <div>
          <a data-role="button" ng-click="retrieve()">发送</a>
        </div>
      </form>


</script>

<script type="text/ng-template" id="templates/user/password/update.html">

      <form method="post" ng-submit="passwordUpdate()">
        <div data-role="fieldcontain">
          <label for="old_pass">旧密码：</label>
          
            <input name="old_pass" id="old_pass" type="password" placeholder="请输入您的旧密码">

        </div>
        <div data-role="fieldcontain">
          <label for="new_pass">新密码：</label>
          
            <input name="new_pass" id="new_pass" type="password" placeholder="由6-20位字母、数字或符号组成">

        </div>
        <div data-role="fieldcontain">
          <label for="new_pass2">确认密码：</label>
          
            <input name="new_pass2" id="new_pass2" type="password" placeholder="由6-20位字母、数字或符号组成">

        </div>
          <a data-role="button" ng-click="passwordUpdate()">确 定</a>
      </form>
</script>

<script type="text/ng-template" id="templates/user/profile.html">
      <form method="post">
        <div data-role="fieldcontain">
          <label for="username">用户名：</label> <input name="username" id="username" type="text"
            placeholder="由6-20位字母、数字或符号组成" value="{{user.username}}">
        </div>
        <div data-role="fieldcontain">
          <label for="mobile">手机号：</label> <input name="mobile" id="mobile" type="text" maxlength="11" value="{{user.mobile}}">
        </div>
        <div data-role="fieldcontain">
          <fieldset data-role="controlgroup">
            <legend>邮箱：</legend>
            <div class="ui-controlgroup-controls ">
              <input name="email" id="email" type="email" data-inline="true" value="{{user.email}}"
                class="ui-input-text-mid"> 
                
                <a data-role="button" ng-click="verification()" class="verification">验证</a>
            </div>
          </fieldset>
        </div>
        <div data-role="fieldcontain">
          <fieldset data-role="controlgroup" data-type="horizontal">
            <legend>性别：</legend>
            <label for="male">男</label><input name="gender" id="male" type="radio" value="male" ng-checked="{{user.gender == 'male'}}"> <label
              for="female">女</label><input name="gender" id="female" type="radio" value="female" ng-checked="{{user.gender == 'female'}}"> <label
              for="hidden">保密</label><input name="gender" id="hidden" type="radio" value="hidden" ng-checked="{{user.gender == 'hidden'}}">
          </fieldset>
        </div>
        <div>
          <a data-role="button" ng-click="updateProfile()">确 定</a>
        </div>
      </form>
</script>

<script type="text/ng-template" id="templates/user/register.html">
      <form method="post">
        <div data-role="fieldcontain">
          <label for="username">用户名：</label> <input name="username" id="username" maxlength="20" type="text"
            placeholder="由4-20位中英文、数字组成">
        </div>
        <div data-role="fieldcontain">
          <label for="password">密码:</label> <input name="password" id="password" maxlength="20" type="password"
            placeholder="由6-20位字母、数字或符号组成">
        </div>
        <div data-role="fieldcontain">
          <label for="password2">确认密码:</label> <input name="password2" id="password2" maxlength="20" type="password"
            placeholder="请再次输入密码">
        </div>
        <div data-role="fieldcontain">
          <label for="email">邮箱:</label> <input name="email" id="email" maxlength="20" type="text"
            placeholder="请输入常用邮箱，用来找回密码">
        </div>
        <div data-role="fieldcontain">
          <label for="verific_code">验证码：</label> <input name="captcha" type="text" placeholder="请输入验证码"
            id="verific_code">
        </div>
        <div data-role="fieldcontain">
          <label for="verific_code"></label><img id="verific_code_image"
            src="{{captcha}}" alt="验证码" ng-click="refresh()"><span
            style="cursor: pointer; color: red; padding: 0px 0.4em;" ng-click="refresh()">点击图片刷新</span>
        </div>
        <div data-role="fieldcontain">
          <label for=""></label>
        </div>
          <a data-role="button" ng-click="register()">注册</a>
      </form>


</script>
<!-- End Templates -->


  <div data-role="page" style="display: none">
    <div data-role="header" data-position="fixed">
      <a data-icon="{{header.backButtonIcon}}" ng-show="header.showBackButton" ng-click="back()">{{header.backButtonText}}</a>
      <h1 class="title ui-title">{{header.title}}</h1>
      <a data-icon="plus" ng-show="header.showAddBook">{{header.addBookText}}</a>
    </div>
    <div class="wrapper" data-role="content" ng-view=""></div>
    <div data-role="footer" data-position="fixed" id="footer">
      <div data-role="navbar" ng-controller="NavBarCtrl">
        <ul>
          <li ng-repeat="navbar in navbars"><a message-id="{{navbar.id}}" data-icon="{{navbar.icon}}" id="nav-bar-{{navbar.id}}" href="#/{{navbar.href}}">{{navbar.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>