<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="Library/metro/styles/metro-bootstrap.css">
<link rel="stylesheet" href="styles/app.css">
<script data-main="scripts/config/metro" src="Library/requirejs/require.js"></script>
<title></title>
</head>
<body class="metro">
  <div class="grid fluid">
    <div class="row">
      <div class="span3">
        <div class="tile bg-cyan">
          <a href="#/">本地图书</a>
          <div class="brand">
            <div class="badge">
              <i class="icon-rocket"></i>
            </div>
          </div>
        </div>
        <div class="tile bg-darkRed">
          <div class="brand">
            <div class="badge bg-red">
              <i class="icon-broadcast"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="span3">BBB</div>
      <div class="span3">CCC</div>
      <div class="span3">DDD</div>
    </div>
  </div>
  <div class="bar bar-header bar-calm">
    <a class="button icon-left ion-chevron-left" ng-show="header.showBackButton" ng-click="back()">{{header.backButtonText}}</a>
    <h1 class="title">{{header.title}}</h1>
    <button class="button icon ion-gear-a" ng-show="header.showAddBook">{{header.addBookText}}</button>
  </div>
  <div class="wrapper content has-header has-footer padding scroll-content" ng-view=""></div>
  <div class="grid fluid" ng-controller="NavBarCtrl">
    <div class="row">
      <div class="span3" ng-repeat="navbar in navbars">
        <a message-id="{{navbar.id}}" id="nav-bar-{{navbar.id}}" ng-href="#/{{navbar.href}}" class="button"> <i
          class="icon ion-{{navbar.icon}}"></i>{{navbar.name}}
        </a>
      </div>
    </div>
  </div>
</body>
</html>