<html class="ui-mobile">
<head>
<base href="file:///C:/Users/eric/Documents/GitHub/openbookfront/book.html">
<meta charset="utf-8">
<meta name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="Library/jquery.mobile-1.4.0/jquery.mobile-1.4.0.css">
<link rel="stylesheet" href="styles/jqmapp.css">
<script src="Library/jquery-2.0.3.js"></script>
<script src="Library/jquery.mobile-1.4.0/jquery.mobile-1.4.0.js"></script>
<title></title>
</head>
<body>
  <div data-role="page">
    <div data-role="header" data-position="fixed" role="banner">
      <a data-icon="arrow-l">返回</a>
      <h1 class="title ui-title">我的书籍</h1>
      <a data-icon="plus">添加我的书</a>
    </div>
    <div class="wrapper ui-content" data-role="content" role="main">
      <ul class="book_list" data-role="listview">
        <li><a><img src="http://res.cloudinary.com/dawjytvkn/image/upload/v1390424774/dmhsa0uvwonu3hwkffqp.jpg"
            style="width: 84px; height: 100px;">
            <h3>易经</h3>
            <p>
              <b>作者:姬昌</b>
            </p>
            <p>易经是一部严谨的哲学著作，并能在科学的范围内用作术数占卜。只是非常深奥难懂，才会有众多牵强附会之说。《易经》是中国文化最古老的典籍。易经十翼:孔子精通易经《十翼》孔子所作，孔子是中国古代突破对自然山水宗教式态度的第一人，我爱大自然更爱自然山水，大自然包涵灾难、地震、龙卷风、恐龙的灭绝等，而自然山水是永存的好风水，提出了“知者乐水，仁者乐山”（《论语·雍也》）的著名美学命题。</p></a></li>
        <li data-icon="false"><a id="more" style="text-align: center;">显示更多...</a></li>
      </ul>
    </div>
    <div data-role="footer" data-position="fixed" id="footer">
      <div data-role="navbar">
        <ul>
          <li><a data-id="0" data-icon="search" id="nav-bar-0">书籍</a></li>
          <li><a data-id="1" data-icon="grid" id="nav-bar-1" class="ui-btn-active">分类</a></li>
          <li><a data-id="2" data-icon="home" id="nav-bar-2">我的天易</a></li>
          <li><a data-id="3" data-icon="gear" id="nav-bar-3">更多</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
