<html class="ui-mobile">
<head>
<base href="file:///C:/Users/eric/Documents/GitHub/openbookfront/book.html">
<meta charset="utf-8">
<meta name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="Library/jquery.mobile-1.4.0/jquery.mobile-1.4.0.css">
<link rel="stylesheet" href="styles/jqmapp.css">
<script src="Library/jquery-2.0.3.js"></script>
<script src="Library/jquery.mobile-1.4.0/jquery.mobile-1.4.0.js"></script>
<title></title>
</head>
<body>
  <div data-role="page">
    <div data-role="header" data-position="fixed" role="banner">
      <a data-icon="arrow-l">返回</a>
      <h1 class="title ui-title">我的书籍</h1>
      <a data-icon="plus">添加我的书</a>
    </div>
    <div class="wrapper" data-role="content">
      <ul class="book_list" data-role="listview" data-insert="true">
        <li><a><img src="http://res.cloudinary.com/dawjytvkn/image/upload/v1390424774/dmhsa0uvwonu3hwkffqp.jpg">
            <h3>易经</h3>
            <p>
              <b>作者:姬昌</b>
            </p>
            <p>易经是一部严谨的哲学著作，并能在科学的范围内用作术数占卜。只是非常深奥难懂，才会有众多牵强附会之说。《易经》是中国文化最古老的典籍。易经十翼:孔子精通易经《十翼》孔子所作，孔子是中国古代突破对自然山水宗教式态度的第一人，我爱大自然更爱自然山水，大自然包涵灾难、地震、龙卷风、恐龙的灭绝等，而自然山水是永存的好风水，提出了“知者乐水，仁者乐山”（《论语·雍也》）的著名美学命题。</p></a></li>
        <li><a><img src="http://res.cloudinary.com/dawjytvkn/image/upload/v1390327627/rqkjrazlvfjcusmlwrux.jpg">
            <h3>史记</h3>
            <p>
              <b>作者:司马迁</b>
            </p>
            <p>史记是中国历史上第一部纪传体通史被人们称为信史由西汉武帝时期的司马迁花了13年的时间所完成 史记 史记
              的全书共有本纪十二篇表十篇书八篇世家三十篇列传七十篇共一百三十篇记载了上起中国上古传说中的黄帝时代约公元前3000年下至汉武帝元年公元前122年共三千多年的历史它包罗万象而又融会贯通脉络清晰王迹所兴原始察终见盛观衰论考之行太史公自序所谓究天人之际通古今之变成一家之言详实地记录了上古时期的政治经济军事文化等各个方面的发展状况。</p></a></li>
        <li><a><img src="http://res.cloudinary.com/dawjytvkn/image/upload/v1388429789/tqpirbszng7c0aaimsbk.jpg">
            <h3>封神演義</h3>
            <p>
              <b>作者:许仲琳</b>
            </p>
            <p>《封神演义》，俗称《封神榜》，又名《封神传》、《商周列国全传》、《武王伐纣外史》，是一部中国神魔小说，作者是明朝的许仲琳，一说是陈仲琳，也有人认为是明代道教学者陆西星，另一说为《金瓶梅》的可能作者王世贞一夜写成，此说甚谬，还有人说是吴三桂的部下。</p></a></li>
        <li><a><img src="http://res.cloudinary.com/dawjytvkn/image/upload/v1374086060/aesekjmu56hn04jqiy81.jpg">
            <h3>水浒传</h3>
            <p>
              <b>作者:施耐庵</b>
            </p>
            <p>《水浒传》又名《忠义水浒传》，一般简称《水浒》，作者一般被认为是施耐庵，创作时间待考证，一般认为作于元末明初，而至晚于明朝中晚期成书，是中国历史上第一部用白话文写成的长篇小说，开创了白话章回小说的先河，是中国四大名著之一，也是汉语文学中最具备史诗特征的作品之一。版本众多，流传极广，脍炙人口。对《水浒传》及相关文化的研究被称为水浒学，简称水学。</p></a></li>
        <li><a><img src="http://res.cloudinary.com/dawjytvkn/image/upload/v1374085210/igq1allc22n1b0xljqpw.jpg">
            <h3>西游记</h3>
            <p>
              <b>作者:吴承恩</b>
            </p>
            <p>《西游记》是中国古典四大名著之一，作者相传是吴承恩，成书于16世纪明朝中叶，主要描写了唐僧、孙悟空、猪八戒、沙悟净师徒四人去西天取经，历经九九八十一难的故事。《西游记》自问世以来在中国乃至世界各地广为流传，被翻译成多种语言。书中孙悟空这个形象，以其鲜明的个性特征，在中国文学史上立起了一座不朽的艺术丰碑。《西游记》不仅内容极其丰富，故事情节完整严谨，而且人物塑造鲜活、丰满，想象多姿多彩，语言也朴实通达。更为重要的是，《西游记》在思想境界、艺术境界上都达到了前所未有的高度，可谓集大成者。</p></a></li>
        <li><a><img src="http://res.cloudinary.com/dawjytvkn/image/upload/v1373444273/ubqfermbhdmko1q8ucku.jpg">
            <h3>三国演义</h3>
            <p>
              <b>作者:罗贯中</b>
            </p>
            <p>《三国演义》是中国第一部长篇章回体历史演义的小说，以描写战争为主，反映了魏、蜀、吴三个政治集团动画版《三国演义》人物图册(30张)之间的政治和军事斗争，大致分为黄巾之乱、董卓之乱、群雄逐鹿、三国鼎立、三国归晋五大部分。在广阔的背景下，上演了一幕幕波澜起伏、气势磅礴的战争场面，成功刻画了近五百个人物形象，其中曹操、刘备、孙权、诸葛亮、周瑜、关羽、张飞等人物形象脍炙人口，不以敌我叙述方式对待各方的历史描述，对后世产生了极其深远的影响。</p></a></li>
        <li><a><img src="http://res.cloudinary.com/dawjytvkn/image/upload/v1373441935/fbl6na1a8je9oynldgsi.jpg">
            <h3>红楼梦</h3>
            <p>
              <b>作者:曹雪芹</b>
            </p>
            <p>《红楼梦》，原名《石头记》，曹雪芹著，中国古代四大名著之一。因当时社会环境和手抄流传，使仅保存80回，现版本很多，通行本后40回高鹗续（或无名氏），对作者原意篡改极大且对古本进行过修改，特别是结局，贾家毋庸置疑会走向衰亡，而不会像续本那样复兴。影视中，87版靠近原意，10版完全依照通行版。由研究此书的思想文化、作者原意等，而形成“红学”，以脂砚斋批注为重要依据。此书是一部具有高度思想性和艺术性的伟大作品，作者根据家族的兴衰的艺术升华，对封建腐朽的科举制度、包办婚姻、等级制度等进行思考。</p></a></li>
        <li data-icon="false"><a id="more" style="text-align: center;">显示更多...</a></li>
      </ul>
    </div>
    <div data-role="footer" data-position="fixed" id="footer">
      <div data-role="navbar">
        <ul>
          <li><a data-id="0" data-icon="search" id="nav-bar-0" class="ui-btn-active">书籍</a></li>
          <li><a data-id="1" data-icon="grid" id="nav-bar-1">分类</a></li>
          <li><a data-id="2" data-icon="home" id="nav-bar-2">我的天易</a></li>
          <li><a data-id="3" data-icon="gear" id="nav-bar-3">更多</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
