<html class="ui-mobile">
<head>
<base href="file:///C:/Users/eric/Documents/GitHub/openbookfront/book.html">
<meta charset="utf-8">
<meta name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="Library/jquery.mobile-1.4.0/jquery.mobile-1.4.0.css">
<link rel="stylesheet" href="styles/jqmapp.css">
<script src="Library/jquery-2.0.3.js"></script>
<script src="Library/jquery.mobile-1.4.0/jquery.mobile-1.4.0.js"></script>
<title></title>
</head>
<body>
  <div data-role="page">
    <div data-role="header" data-position="fixed" role="banner">
      <a data-icon="arrow-l">返回</a>
      <h1 class="title ui-title">我的书籍</h1>
      <a data-icon="plus">添加我的书</a>
    </div>
    <div class="wrapper ui-content" data-role="content" role="main">
      <h3 style="text-align: center;">䷀乾</h3>
      <pre class="text">
乾：元亨，利贞。
大哉乾元，万物资始，乃统天。云行雨施，品物流形。大明始终，六位时成，时乘六龙以御天。乾道变化，各正性命，保合大和，乃利贞。首出庶物，万国咸宁。
天行健，君子以自强不息。
初九：潜龙，勿用。
潜龙勿用，阳在下也。
九二：见龙在田，利见大人。
见龙在田，德施普也。
九三：君子终日乾乾，夕惕若，厉，无咎。
终日乾乾，反复道也。
九四：或跃在渊，无咎。
或跃在渊，进无咎也。
九五：飞龙在天，利见大人。
飞龙在天，大人造也。
上九：亢龙有悔。
亢龙有悔，盈不可久也。
用九：见群龙无首，吉。
用九，天德不可为首也。
《文言》曰：“元”者，善之长也；“亨”者，嘉之会也；“利”者，义之和也；“贞”者，事之干也。君子体仁足以长人，嘉会足以合礼，利物足以和义，贞固足以干事。君子行此四德者，故曰“乾、元、亨、利、贞”。
初九曰、“潜龙勿用”，何谓也？子曰：“龙、德而隐者也。不易乎世，不成乎名，遯世无闷，不见是而无闷。乐则行之，忧则违之，确乎其不可拔，潜龙也。”
九二曰：“见龙在田，利见大人”，何谓也？子曰：“龙德而正中者也。庸言之信，庸行之谨，闲邪存其诚，善世而不伐，德博而化。《易》曰：‘见龙在田，利见大人’，君德也。”
九三曰：“君子终日乾乾、夕惕若、厉、无咎”。何谓也？子曰：“君子进德修业，忠信，所以进德也，修辞立其诚，所以居业也。知至至之，可与几也，知终终之，可与存义也。是故居上位而不骄，在下位而不忧，故乾乾因其时而惕，虽危无咎矣。”
九四曰：“或跃在渊，无咎。”何谓也？子曰：“上下无常，非为邪也。进退无恒，非离群也。君子进德修业，欲及时也，故无咎。”
九五曰：“飞龙在天，利见大人”。何谓也？子曰：“同声相应，同气相求。水流湿，火就燥，云从龙，风从虎，圣人作而万物覩。本乎天者亲上，本乎地者亲下，则各从其类也。”
上九曰：“亢龙有悔”，何谓也？子曰：“贵而无位，高而无民，贤人在下位而无辅，是以动而有悔也。”
“潜龙勿用”，下也；“见龙在田”，时舍也；“终日乾乾”，行事也；“或跃在渊”，自试也；“飞龙在天”，上治也；“亢龙有悔”、穷之灾也。乾元“用九”，天下治也。
“潜龙勿用”，阳气潜藏。“见龙在田”，天下文明。“终日乾乾”，与时偕行。“或跃在渊”，乾道乃革。“飞龙在天”，乃位乎天德。“亢龙有悔”，与时偕极。乾元“用九”，乃见天则。
《乾》“元”者，始而亨者也。“利贞”者，性情也。乾始能以美利利天下，不言所利，大矣哉！
大哉乾乎！刚健中正，纯粹精也。六爻发挥，旁通情也。“时乘六龙”、以“御天”也，“云行雨施”、天下平也。君子以成德为行，日可见之行也。“潜”之为言也，隐而未见，行而未成，是以君子“弗用”也。
君子学以聚之，问以辩之，宽以居之，仁以行之。《易》曰“见龙在田、利见大人”，君德也。
九三重刚而不中，上不在天，下不在田，故“乾乾”因其时而“惕”，虽危“无咎”矣。
九四重刚而不中，上不在天，下不在田，中不在人，故“或”之。“或”之者、疑之也，故“无咎”。
夫“大人”者、与天地合其德，与日月合其明，与四时合其序，与鬼神合其吉凶，先天而天弗违，后天而奉天时。天且弗违，而况于人乎？况于鬼神乎？
“亢”之为言也，知进而不知退，知存而不知亡，知得而不知丧。其唯圣人乎！知进退存亡而不失其正者，其唯圣人乎！</pre>
      <div class="ui-btn ui-input-btn ui-corner-all ui-shadow">
        <a>下一回</a>
      </div>
    </div>
    <div data-role="footer" data-position="fixed" id="footer">
      <div data-role="navbar">
        <ul>
          <li><a data-id="0" data-icon="search" id="nav-bar-0" class="ui-btn-active">书籍</a></li>
          <li><a data-id="1" data-icon="grid" id="nav-bar-1">分类</a></li>
          <li><a data-id="2" data-icon="home" id="nav-bar-2">我的天易</a></li>
          <li><a data-id="3" data-icon="gear" id="nav-bar-3">更多</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
