<html class="ui-mobile">
<head>
<base href="file:///C:/Users/eric/Documents/GitHub/openbookfront/book.html">
<meta charset="utf-8">
<meta name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="Library/jquery.mobile-1.4.0/jquery.mobile-1.4.0.css">
<link rel="stylesheet" href="styles/jqmapp.css">
<script src="Library/jquery-2.0.3.js"></script>
<script src="Library/jquery.mobile-1.4.0/jquery.mobile-1.4.0.js"></script>
<title></title>
</head>
<body>
  <div data-role="page">
    <div data-role="header" data-position="fixed" role="banner">
      <a data-icon="arrow-l">返回</a>
      <h1 class="title ui-title">我的书籍</h1>
      <a data-icon="plus">添加我的书</a>
    </div>
    <div class="wrapper ui-content" data-role="content" role="main">
      <ul data-role="listview">
        <li data-role="list-divider" style="text-align: center;">简介</li>
        <li><div data-role="fieldcontain">
            <img src="http://res.cloudinary.com/dawjytvkn/image/upload/v1390424774/dmhsa0uvwonu3hwkffqp.jpg"
              style="width: 84px; height: 100px; float: left; margin: 0.4em; padding: 0.3em;"><b
              style="color: red; margin: 0.5em; padding: 0.3em;">《易经》</b><br> <span
              style="margin: 0.6em; padding: 0.3em;">作者: <i>姬昌</i></span><br>
            <p style="margin: 0.4em; padding: 0.3em;">易经是一部严谨的哲学著作，并能在科学的范围内用作术数占卜。只是非常深奥难懂，才会有众多牵强附会之说。《易经》是中国文化最古老的典籍。易经十翼:孔子精通易经《十翼》孔子所作，孔子是中国古代突破对自然山水宗教式态度的第一人，我爱大自然更爱自然山水，大自然包涵灾难、地震、龙卷风、恐龙的灭绝等，而自然山水是永存的好风水，提出了“知者乐水，仁者乐山”（《论语·雍也》）的著名美学命题。</p>
          </div>
          <div>
            <div>
              <select data-role="flipswitch"><option>订阅</option>
                <option>取消</option></select>
            </div>
          </div></li>
        <li><div>
            <a data-role="button">下载</a>
          </div></li>
        <li data-role="list-divider" style="text-align: center">目录</li>
        <li><a>䷀乾</a></li>
        <li><a>䷁坤</a></li>
        <li><a>䷂屯</a></li>
        <li><a>䷃蒙</a></li>
        <li><a>䷄需</a></li>
        <li><a>䷅讼</a></li>
        <li><a>䷆师</a></li>
        <li><a>䷇比</a></li>
        <li><a>䷈小畜</a></li>
        <li><a>䷉履</a></li>
        <li><a>䷊泰</a></li>
        <li><a>䷋否</a></li>
        <li><a>䷌同人</a></li>
        <li><a>䷍大有</a></li>
        <li><a>䷎谦</a></li>
        <li><a>䷏豫</a></li>
        <li><a>䷐随</a></li>
        <li><a>䷑蛊</a></li>
        <li><a>䷒临</a></li>
        <li><a>䷓观</a></li>
        <li><a>䷔噬嗑</a></li>
        <li><a>䷕贲</a></li>
        <li><a>䷖剥</a></li>
        <li><a>䷗复</a></li>
        <li><a>䷘无妄</a></li>
        <li><a>䷙大畜</a></li>
        <li><a>䷚颐</a></li>
        <li><a>䷛大过</a></li>
        <li><a>䷜坎</a></li>
        <li><a>䷝离</a></li>
        <li><a>䷞咸</a></li>
        <li><a>䷟恒</a></li>
        <li><a>䷠遯</a></li>
        <li><a>䷡大壮</a></li>
        <li><a>䷢晋</a></li>
        <li><a>䷣明夷</a></li>
        <li><a>䷤家人</a></li>
        <li><a>䷥睽</a></li>
        <li><a>䷦蹇</a></li>
        <li><a>䷧解</a></li>
        <li><a>䷨损</a></li>
        <li><a>䷩益</a></li>
        <li><a>䷪夬</a></li>
        <li><a>䷫姤</a></li>
        <li><a>䷬萃</a></li>
        <li><a>䷭升</a></li>
        <li><a>䷮困</a></li>
        <li><a>䷯井</a></li>
        <li><a>䷰革</a></li>
        <li><a>䷱鼎</a></li>
        <li><a>䷲震</a></li>
        <li><a>䷳艮</a></li>
        <li><a>䷴渐</a></li>
        <li><a>䷵归妹</a></li>
        <li><a>䷶丰</a></li>
        <li><a>䷷旅</a></li>
        <li><a>䷸巽</a></li>
        <li><a>䷹兑</a></li>
        <li><a>䷺涣</a></li>
        <li><a>䷻节</a></li>
        <li><a>䷼中孚</a></li>
        <li><a>䷽小过</a></li>
        <li><a>䷾既济</a></li>
        <li><a>䷿未济</a></li>
      </ul>
    </div>
    <div data-role="footer" data-position="fixed" id="footer">
      <div data-role="navbar">
        <ul>
          <li><a data-id="0" data-icon="search" id="nav-bar-0" class="ui-btn-active">书籍</a></li>
          <li><a data-id="1" data-icon="grid" id="nav-bar-1">分类</a></li>
          <li><a data-id="2" data-icon="home" id="nav-bar-2">我的天易</a></li>
          <li><a data-id="3" data-icon="gear" id="nav-bar-3">更多</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
