  <form method="post">
    <div data-role="fieldcontain">
      <label for="username">用户名:</label> <input type="text" placeholder="请输入注册用户名或者邮箱" id="username" name="username">
    </div>
    <div data-role="fieldcontain">
      <label for="password">密码：</label> <input type="password" placeholder="请输入密码" id="password" name="password">
    </div>
    <a data-role="button" ng-click="login()">登 录</a> <a data-role="button" href="#/user/password/retrieve">忘记密码?</a> <a data-role="button"
      href="#/user/register">注 册</a>
  </form>
