
<html class="ui-mobile">
<head>
<base href="file:///C:/Users/eric/Documents/GitHub/openbookfront/book.html">
<meta charset="utf-8">
<meta name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="Library/jquery.mobile-1.4.0/jquery.mobile-1.4.0.css">
<link rel="stylesheet" href="styles/jqmapp.css">
<script src="Library/jquery-2.0.3.js"></script>
<script src="Library/jquery.mobile-1.4.0/jquery.mobile-1.4.0.js"></script>
<title></title>
</head>
<body>
  <div data-role="page">
    <div data-role="header" data-position="fixed" role="banner">
      <a data-icon="arrow-l">返回</a>
      <h1 class="title ui-title">我的信息</h1>
    </div>
    <div class="wrapper ui-content" data-role="content" role="main">
      <form method="post">
        <div data-role="fieldcontain">
          <label for="username">用户名：</label> <input name="username" id="username" type="text"
            placeholder="由6-20位字母、数字或符号组成" value="test">
        </div>
        <div data-role="fieldcontain">
          <label for="mobile">手机号：</label> <input name="mobile" id="mobile" type="text" maxlength="11" value="">
        </div>
        <div data-role="fieldcontain">
          <fieldset data-role="controlgroup">
            <legend>邮箱：</legend>
            <div class="ui-controlgroup-controls ">
              <input name="email" id="email" type="email" data-inline="true" value="calidion@gmail.com"
                class="ui-input-text-mid"> <a data-role="button">验证</a>
            </div>
          </fieldset>
        </div>
        <div data-role="fieldcontain">
          <fieldset data-role="controlgroup" data-type="horizontal">
            <legend>性别：</legend>
            <label for="male">男</label><input name="gender" id="male" type="radio" value="male"> <label
              for="female">女</label><input name="gender" id="female" type="radio" value="female"> <label
              for="hidden">保密</label><input name="gender" id="hidden" type="radio" value="hidden">
          </fieldset>
        </div>
        <div>
          <a data-role="button">确 定</a>
        </div>
      </form>
    </div>
    <div data-role="footer" data-position="fixed" id="footer">
      <div data-role="navbar">
        <ul>
          <li><a data-id="0" data-icon="search" id="nav-bar-0" class="ui-btn-active">书籍</a></li>
          <li><a data-id="1" data-icon="grid" id="nav-bar-1">分类</a></li>
          <li><a data-id="2" data-icon="home" id="nav-bar-2">我的天易</a></li>
          <li><a data-id="3" data-icon="gear" id="nav-bar-3">更多</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
