      <form method="post">
        <div data-role="fieldcontain">
          <label for="username">用户名：</label> <input name="username" id="username" maxlength="20" type="text"
            placeholder="由4-20位中英文、数字组成">
        </div>
        <div data-role="fieldcontain">
          <label for="password">密码:</label> <input name="password" id="password" maxlength="20" type="password"
            placeholder="由6-20位字母、数字或符号组成">
        </div>
        <div data-role="fieldcontain">
          <label for="password2">确认密码:</label> <input name="password2" id="password2" maxlength="20" type="password"
            placeholder="请再次输入密码">
        </div>
        <div data-role="fieldcontain">
          <label for="email">邮箱:</label> <input name="email" id="email" maxlength="20" type="text"
            placeholder="请输入常用邮箱，用来找回密码">
        </div>
        <div data-role="fieldcontain">
          <label for="verific_code">验证码：</label> <input name="captcha" type="text" placeholder="请输入验证码"
            id="verific_code">
        </div>
        <div data-role="fieldcontain">
          <label for="verific_code"></label><img id="verific_code_image"
            src="http://book.t1bao.com/jqmapp/captcha/81901284429bff87ed2d7c3866e18e42" alt="验证码"><span
            style="cursor: pointer; color: red; padding: 0px 0.4em;">点击图片刷新</span>
        </div>
        <div data-role="fieldcontain">
          <label for=""></label>
        </div>
        <div class="ui-btn ui-input-btn ui-corner-all ui-shadow">
          <a>注册</a>
        </div>
      </form>

